/*

  Color Theme:
  -dark blue-
  #4DC6E4
  -bright blue-
  #69D2E7;

  -aquamarina-
  #A7DBD8;

  -dulled green-
  #E0E4CC;

  -copy brown-
  #291A00

  -orange-
  #F38630;

  -dark orange-
  #FA6900;

  -green-
  #82B556

*/

/*   Intro    */
/*=========================================*/
.home__intro {}

.home__intro__sky{
  position: relative;
  background: #BDF2FF;
  background: linear-gradient(180deg,#4DC6E4,#BDF2FF);
  min-height: 65%;
}

.home__intro__village__wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 355px; /* Village drawing height */
}

.home__intro__village__ground,
.home__intro__village {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
}

.home__intro__village__ground { background: url(../img/ground.png) repeat-x  0% 100%; }
.home__intro__village { background: url(../img/village.png) no-repeat 50% 100%; }


.home__intro__tagline {
  color: white;
  max-width: 50rem;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 300;
  padding: 3rem 3rem 390px 3rem;
  margin: 0 auto;
  text-shadow: 0 0 1.5rem rgba(32, 82, 98, 1),0.1rem 0.1rem 0.1rem rgba(54, 146, 175, 0.55);
  line-height: 120%;
}


.home__intro__copy {
  font-size: 1.2rem;
  max-width: 60rem;
  font-weight: 400;
  padding: 2rem;
  color: #291A00;
  margin: 0 auto;
}

.home__intro__earth {
  background: #ffebc7;
  box-shadow:  5px 0 10px rgba(0,0,0,0.5);
  width: 100%;
  min-height: 35%;
  text-align: center;
  margin: 0 auto;
}

.home__intro__cta{
  background: #82B556;
  display: block;
  width: 20rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  padding: 0.3rem 1.25rem;
  margin: 2rem auto;
  transition: all .15s;
}

  .home__intro__cta:hover {
    background: #6C9A43;
  }

@media only screen and (min-width: 200px) and (orientation: portrait)  {
  .home__intro__tagline { font-size: 2rem }
  .home__intro__cta { width: 100% }
}

@media only screen and (min-width: 599px) and (orientation: portrait)  {
  .home__intro__tagline { font-size: 2rem }
}

/* Inter sections  */
/*=========================================*/
.home__heading {
  margin-top: 0;
}


.home__section_intro {
  text-align: center;
  font-size: 1.8rem;
  padding: 0 2rem;
  margin: -2rem auto 2rem auto;
  max-width: 75rem
}

@media only screen and (min-width: 200px) and (orientation: portrait)  {
  .home__heading { margin-bottom: 0; }
  .home__section_intro {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    max-width: 100%
  }
}

/*  Wrappers  */
/*=========================================*/

.home__outer__wrapper {
  min-height: 80%;
  display: flex;
  padding: 2rem;
  justify-content: center;
}

  .home__outer__wrapper--green {
    background: #fefdf8;
    box-shadow:  0 -20px 20px -14px rgba(86,96,32,0.2);
  }

.home__inner__wrapper {
  align-self: center;
}


/*  What  */
/*=========================================*/

.home__what {
  display: flex;
  padding: 0;
  list-style: none;
  align-items: baseline;
  max-width: 88rem;
  margin: 0 auto;
}

.home__what__item {
  padding: 2rem;
  text-align: center;
  width: 33%;
}

.home__what__item__copy {

}

.home__what__caption {
  display: block;
  margin: 0 auto 2rem auto;
  width: 14rem;
  /*height: 14rem;*/
  max-width: 100%;
}
  .home__what__caption img {width: 100%; height: 100%;}

.home__mini-cta:hover {
  background: #E7EDC8;
  margin-top:1px;
  border-bottom-width: 1px;
}

@media only screen and (min-width: 200px) and (orientation: portrait)  {
  .home__what { flex-wrap: wrap; }
  .home__what__item {width: 100%}
}

@media only screen and (min-width: 599px) and (orientation: portrait)  {
  .home__what__item {width: 100%}
  .home__what__caption {float: left; margin: 0; max-width: 40% }
  .home__what__item__copy {text-align: left; margin-left: 50%}
}

/*  How  */
/*=========================================*/
.home__how__wrapper {
  background: white;
  margin-top: -67px;
  padding: 3rem;
  border: 10px solid #8E8F75;
  border-top-color: #B3B3A2;
  border-left-color: #BCBCAD;
}
  @media only screen and (max-width: 1280px) and (orientation: landscape),
        (max-width: 1850px) and  (min-resolution: 2dppx)  and (orientation: landscape),
        screen and (min-width: 200px) and (orientation: portrait)  {
      .home__how__wrapper {
        border: 0;
        background: none;
      }
  }

.home__how {
  display: flex;
  padding: 0;
  list-style: none;
  max-width: 88rem;
  margin: 0 auto;
}

.home__how__item {
  width: 25%;
  align-self: center;
}


@media only screen and (max-width: 1000px) and (orientation: landscape),
       (max-width: 1600px) and  (min-resolution: 2dppx) and (orientation: landscape) {
  .home__how { flex-wrap:wrap; }
  .home__how__item {
    width: 50%;
  }
}

.home__how__item img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.home__how__qot_copy,
.home__how__resources_copy {
  height: 12rem;
}

.home__how__qot_copy {
  order: 2;
  padding-right: 2rem;
}
.home__how__resources_copy {
  order: 3;
  padding-left: 2rem;
  text-align: right;
}

.home__how__qot_image {
  order: 1;
}

.home__how__resources_image {
  order: 4;
}

@media only screen and (min-width: 200px) and (orientation: portrait)  {
  .home__how__wrapper { padding:0; margin-top: 0; }
  .home__how { flex-wrap:wrap; }
  .home__how__item { width: 100%; }
  .home__how__qot_image { order: 1;}
  .home__how__qot_copy { order: 2; text-align: center; padding: 0; }
  .home__how__resources_image { order: 3;}
  .home__how__resources_copy { order: 4; text-align: center; padding: 0; }
}


/*  Where  */
/*=========================================*/

.home__where {
  display: flex;
  min-height: 90%;
  position: relative;
  border-top: 5px solid rgba(86,96,32,0.2);
  border-bottom: 5px solid #A6BEC2;
}

  .home__where:before,
  .home__where:after{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 15px;
    box-shadow: inset 0px 15px 25px -25px rgba(0,0,0,1);
  }

  .home__where:after {
    bottom: 0;
    top:auto;
    box-shadow: inset 0px -15px 25px -25px rgba(0,0,0,1);
  }

.home__where__heading {
  margin: 0;
  text-align: left;
}

.home__where__content {
  width: 40%;
  min-height: 60%;
  padding: 2rem;
  order:2;
  align-self: center;
}

.home__where__map__container {
  order:1;
  width: 60%;
  min-height: 60%;
  background: url(../img/spain.png) 50% 50%;
  background-size: cover;
}


@media only screen and (max-width: 1000px) and (orientation: landscape),
            (max-width: 1600px) and  (min-resolution: 2dppx) and (orientation: landscape),
            (min-width: 200px) and (orientation: portrait) {
  .home__where { flex-wrap: wrap; }
  .home__where__content,
  .home__where__map__container {
    width: 100%;
  }
  .home__where__heading { text-align: center; }
  .home__where__content { order:1; }
  .home__where__map__container {height: 60%; min-height: 25rem; order:2;}
}

.home__where__copy {
  font-size: 1.2rem;
}

/*  Why  */
/*=========================================*/
.home__why__wrapper {
  background-color: #BFF5FF;
  background: url(../img/looking.png) no-repeat 50% 100%,
              url(../img/ground2.png) repeat-x 0 100%,
              url(../img/backmountains.png) no-repeat 60% 100%,
              url(../img/sun.png) no-repeat 90% 90%,
              linear-gradient(180deg,#4DC6E4, #4DC6E4, #BDF2FF);
  min-height: 80%;
  display: flex;
  justify-content: center;
  color: white;
  /*text-shadow: 0 0 0.5rem rgba(54, 146, 175, 0.77),0.1rem 0.1rem 0.1rem rgba(54, 146, 175, 0.55);*/
  text-shadow: 0 0 1.5rem rgba(32, 82, 98, 1),0.1rem 0.1rem 0.1rem rgba(54, 146, 175, 0.55);
}

@media only screen and (max-width: 1000px) and (orientation: landscape){
  .home__why__wrapper {
    background-position: 50% 100%,
                         0 100%,
                         90% 100%,
                         140% 190%;
  }
}

.home__why {
  margin-top: 2rem;
  max-width: 40%;
  font-size: 1.4rem;
  text-align: center;
  padding-bottom: 13rem;
}

@media only screen and (min-width: 200px) and (orientation: portrait)  {
  .home__why {
    margin-top: 0;
    max-width: 100%;
    padding: 2rem 2rem 13rem 2rem;
  }
  .home__why__wrapper {
    background-position: 25% 100%,
                         0 100%,
                         -10% 100%,
                         0% 210%;
  }
}

@media only screen and (min-width: 599px) and (orientation: portrait)  {
  .home__why__wrapper {
    background-position: 25% 100%,
                         0 100%,
                         100% 100%,
                         250% 150%;
  }
}

/*  Join Us  */
/*=========================================*/
.home__join_us__wrapper {
  border-top: 10px solid #3D3019;
  background: #5F4A25;
  min-height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #1B1609;
}

.home__join_us {
  max-width: 88rem;
  font-size: 1.5rem;
  padding: 2rem;
}

.home__join_us__heading { margin: 0; }
.home__join_us__headline { text-align: center; }

.home__newsletter_form {}

.home__newsletter {
  border: 0px;
  padding: 1rem;
  border-radius: 1rem;
  width: 79%;
  box-shadow: 0 0 5px #1B1609;
}

.home__newsletter__button {
  background: #82B556;
  padding: 1rem;
  border-radius: 1rem;
  border: 0px;
  width: 20%;
  color: white;
  text-shadow: 0 0 5px #1B1609;
  box-shadow: 0 0 5px #1B1609;
  transition: .3s all;
  display: inline-block;
}

  .home__newsletter__button:hover { background: #93C667; box-shadow: 1px 1px 10px #0C0508; }

.home__join_us__apply {
  display: flex;
}

.home__join_us__apply__copy {
  font-size: 1.1rem;
  text-shadow: 1px 1px 5px #1B1609;
  width: 50%;
}

  .home__join_us__apply__copy h4 {
    font-size: 1.6rem;
    margin-bottom: 0;
  }

.home__join_us__apply__actions {
  width: 50%;
}

.home__join_us__apply__social {
  width: 80%;
  overflow: hidden;
  margin: 5rem auto 2rem auto;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}


.home__join_us__apply__social__icon {
  float: left;
  font-size: 3rem;
}

  .home__join_us__apply__social__icon a {
    color: white;
    text-decoration: none;
    transition: .3s all;
  }
    .home__join_us__apply__social__icon a:hover {
      text-shadow: 1px 1px 10px #0C0508;
    }

.home__join_us__apply__cta {
  width: 80%;
  margin: 0 auto;
  display: block;
  color: white;
  background: #26B4E4;
  padding: 1rem;
  border-radius: 1rem;
  border: 0px;
  box-shadow: 0 0 5px #1B1609;
  text-shadow: 0 0 5px #1B1609;
  transition: .3s all;
}
  .home__join_us__apply__cta:hover { background: #57C5EA; box-shadow: 1px 1px 10px #0C0508; }

@media only screen and (min-width: 200px) and (orientation: portrait)  {
  .home__newsletter { width: 100% }
  .home__newsletter__button {
    width: 100%;
    margin-top: 10px;
  }
  .home__join_us__apply {
    flex-wrap: wrap;
  }
  .home__join_us__apply__copy,
  .home__join_us__apply__actions,
  .home__join_us__apply__social,
  .home__join_us__apply__cta { width: 100% }
  .home__join_us__apply__social { margin: 0 auto;}
}

/*  Footer  */
/*=========================================*/

footer {
  background: #1B150A;
  min-height: 20%;
}
