<nav class="main_nav container">
  <a class="main_nav__logo" href="http://www.resetsociety.com/"><img src="/img/logo.png" alt="Logo Resetsociety"></a>
  <ul class="main_nav__list">
    <li class="main_nav__item {{page.home}}"><a href="/">Home</a></li>
    <li class="main_nav__item {{page.work_with_us}}"><a href="/work_with_us.html">Work with us</a></li>
    <li class="main_nav__item {{page.the_plan}}"><a href="/the_plan.html">The plan</a></li>
    <li class="main_nav__item"><a href="/">Blog</a></li>
  </ul>
</nav>
