.intro {
  background: url(/img/background.png) no-repeat 100% 25% ;
  background-size: cover;
  padding: 2rem 0;
}

.container {
  margin: 0 auto;
  max-width: 75rem;
  padding:  0 2.5rem;
}

.container--bigger {
  max-width: 85rem;
}

.container--padded {
  padding:  2.5rem;
}
