
/*   Intro    */
/*=========================================*/
.home__intro {
  overflow: hidden;
}

.home__intro__copy_wrapper {
  padding: 0;
  margin:4rem 0 12rem 0;
  position: relative;
  z-index: 1;
}

.home__intro__copy {
  color: white;
  text-shadow: 0 2px 1rem $shadow_black;
  padding-right: 35%;
}

.home__intro__big_copy {
  color: white;
  text-shadow: 0 2px 1rem $shadow_black;
  font-size: 1.2rem;
  font-weight: 300;
}

.home__intro__tagline {
  color: white;
  font-size: 2.8rem;
  font-weight: 200;
  text-shadow: 0 0 1rem $shadow_black;
  line-height: 120%;
}

.home__intro__cta{
  background: $cta_blue;
  display: block;
  float: right;
  width: 20rem;
  font-size: 1rem;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  padding: 0.6rem 1.25rem;
  margin: 1rem 0;
  transition: all .15s;
  text-align: center;
}

  .home__intro__cta:hover {
    background: #57C5EA;
  }

.home__intro__seashore {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media only screen and (min-width: 200px) and (orientation: portrait)  {
  .home__intro__tagline { font-size: 2rem }
  .home__intro__cta { width: 100% }
}

@media only screen and (max-width: 900px) {
  .home__intro__copy {
    padding-right: 0;
  }
}

/* Inter sections  */
/*=========================================*/
.home__heading {
  margin-top: 0;
}


.home__section_intro {
  text-align: center;
  font-size: 1.15rem;
  padding: 0 2rem;
  margin: -2rem auto 2rem auto;
  max-width: 75rem
}

@media only screen and (min-width: 200px) and (orientation: portrait)  {
  .home__heading { margin-bottom: 0; }
  .home__section_intro {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    max-width: 100%
  }
}

/*  What  */
/*=========================================*/

.home__what {
  display: flex;
  padding: 0;
  list-style: none;
  align-items: baseline;
  max-width: 88rem;
  margin: 0 auto;
}

.home__what__item {
  padding: 2rem;
  text-align: center;
  width: 33%;
}

.home__what__caption {
  display: block;
  margin: 0 auto 2rem auto;
  width: 14rem;
  max-width: 100%;
}
  .home__what__caption img {width: 100%; height: 100%;}

.home__mini-cta:hover {
  background: #E7EDC8;
  margin-top:1px;
  border-bottom-width: 1px;
}

@media only screen and (min-width: 200px) and (orientation: portrait)  {
  .home__what { flex-wrap: wrap; }
  .home__what__item {width: 100%}
}

@media only screen and (min-width: 800px) and (orientation: portrait)  {
  .home__what__item {width: 100%}
  .home__what__caption {float: left; margin: 0; max-width: 40% }
  .home__what__item__copy {text-align: left; margin-left: 50%}
}

/*  How  */
/*=========================================*/
.home__how {
  display: flex;
  padding: 0;
  list-style: none;
  max-width: 88rem;
  margin: 0 auto;
  align-items: flex-start;
}

.home__how__item {
  width: 25%;
  align-self: center;
}


@media only screen and (max-width: 1200px) and (orientation: landscape),
       (max-width: 1600px) and  (min-resolution: 2dppx) and (orientation: landscape) {
  .home__how { flex-wrap:wrap; }
  .home__how__item {
    width: 50%;
  }
}

.home__how__item img {
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

.home__how__qot_copy {
  order: 2;
  padding-right: 2rem;
}
.home__how__resources_copy {
  order: 3;
  padding-left: 2rem;
  text-align: right;
}

.home__how__qot_image {
  order: 1;
}

.home__how__resources_image {
  order: 4;
}

@media only screen and (min-width: 200px) and (orientation: portrait)  {
  .home__how__wrapper { padding:0; margin-top: 0; }
  .home__how { flex-wrap:wrap; }
  .home__how__item { width: 100%; }
  .home__how__qot_image { order: 1;}
  .home__how__qot_copy { order: 2; text-align: center; padding: 0; }
  .home__how__resources_image { order: 3;}
  .home__how__resources_copy { order: 4; text-align: center; padding: 0; }
}


/*  Where  */
/*=========================================*/

.home__where {
  display: flex;
  position: relative;
  padding-bottom: 5rem;
  flex-wrap: wrap;
}

.home__where__images {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.home__where__images a {
  display: inline-block;
  min-width: 40%;
  height: 14rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

a.home__where__image_rincon {
  width: 100%;
  background-image: url(/img/rincon.jpg);
  margin-bottom: 2rem;
}

a.home__where__image_espeto {
  background-image: url(/img/espeto.jpg);
  margin-right: 1rem;
  flex-grow: 1;
}

a.home__where__image_tesoro {
  background-image: url(/img/cueva-del-tesoro.jpg);
  margin-left: 1rem;
  flex-grow: 1;
}

.home__where__heading {
  width: 100%
}

.home__where__content {
  width: 40%;
  min-height: 60%;
  padding-left: 2rem;
  order:2;
  align-self: center;
}


@media (max-width: 1000px),
       (max-width: 1600px) and  (min-resolution: 2dppx){
  .home__where__content,
  .home__where__images {
    width: 100%;
  }
  .home__where__content { order:1; padding-left: 0;}
  .home__where__images { order:2; }
}

/*  Why  */
/*=========================================*/
.home__why__wrapper {
  background-color: #BFF5FF;
  background: url(../img/looking.png) no-repeat 50% 100%,
              url(../img/ground2.png) repeat-x 0 100%,
              url(../img/backmountains.png) no-repeat 60% 100%,
              url(../img/sun.png) no-repeat 90% 90%,
              linear-gradient(180deg,$dark_blue, $dark_blue, #BDF2FF);
  min-height: 80%;
  display: flex;
  justify-content: center;
  color: white;
  text-shadow: 0 0 1.5rem rgba(32, 82, 98, 1),0.1rem 0.1rem 0.1rem rgba(54, 146, 175, 0.55);
}

@media only screen and (max-width: 1000px) and (orientation: landscape){
  .home__why__wrapper {
    background-position: 50% 100%,
                         0 100%,
                         90% 100%,
                         140% 190%;
  }
}

.home__why {
  margin-top: 2rem;
  max-width: 40%;
  text-align: center;
  font-weight: 300;
  padding-bottom: 13rem;
  p {font-size: 1.4rem;}
}

@media only screen and (min-width: 200px) and (orientation: portrait)  {
  .home__why {
    margin-top: 0;
    max-width: 100%;
    padding: 2rem 2rem 13rem 2rem;
  }
  .home__why__wrapper {
    background-position: 25% 100%,
                         0 100%,
                         -10% 100%,
                         0% 210%;
  }
}

@media only screen and (min-width: 599px) and (orientation: portrait)  {
  .home__why__wrapper {
    background-position: 25% 100%,
                         0 100%,
                         100% 100%,
                         250% 150%;
  }
}

/*  Join Us  */
/*=========================================*/
.home__join_us__wrapper {
  border-top: 10px solid $dark_brown;
  background: $brown;
  min-height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px $darker_brown;
}

.home__join_us {
  max-width: 88rem;
  font-size: 1.5rem;
  padding: 2rem;
}

.home__join_us__heading { margin: 0; }
.home__join_us__headline { text-align: center; font-weight: 300;}

.home__newsletter_form {}

.home__newsletter {
  border: 0px;
  padding: 1rem;
  border-radius: 1rem;
  width: 79%;
  box-shadow: 0 0 5px #1B1609;
}

.home__newsletter__button {
  background: $green;
  padding: 1rem;
  border-radius: 1rem;
  border: 0px;
  width: 20%;
  color: white;
  text-shadow: 0 0 5px #1B1609;
  box-shadow: 0 0 5px #1B1609;
  transition: .3s all;
  display: inline-block;
}

  .home__newsletter__button:hover { background: lighten($green, 5%); box-shadow: 1px 1px 10px darken($darker_brown, 5%); }

.home__join_us__apply {
  display: flex;
}

.home__join_us__apply__copy {
  font-size: 1.1rem;
  text-shadow: 1px 1px 5px $darker_brown;
  width: 50%;
  font-weight: 300;
}

  .home__join_us__apply__copy h4 {
    font-size: 1.6rem;
    margin-bottom: 0;
  }

.home__join_us__apply__actions {
  width: 50%;
}

.home__join_us__apply__social {
  width: 80%;
  overflow: hidden;
  margin: 5rem auto 2rem auto;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}


.home__join_us__apply__social__icon {
  float: left;
  font-size: 3rem;
}

  .home__join_us__apply__social__icon a {
    color: white;
    text-decoration: none;
    transition: .3s all;
  }
    .home__join_us__apply__social__icon a:hover {
      text-shadow: 1px 1px 10px #0C0508;
    }

.home__join_us__apply__cta {
  width: 80%;
  margin: 0 auto;
  display: block;
  color: white;
  background: $cta_blue;
  padding: 1rem;
  border-radius: 1rem;
  border: 0px;
  box-shadow: 0 0 5px $darker_brown;
  text-shadow: 0 0 5px $darker_brown;
  transition: .3s all;
  text-align: center;
  text-decoration: none;
}
  .home__join_us__apply__cta:hover { background: lighten($cta_blue, 5%); box-shadow: 1px 1px 10px darken($darker_brown, 5%); }

@media only screen and (min-width: 200px) and (orientation: portrait)  {
  .home__newsletter { width: 100% }
  .home__newsletter__button {
    width: 100%;
    margin-top: 10px;
  }
  .home__join_us__apply {
    flex-wrap: wrap;
  }
  .home__join_us__apply__copy,
  .home__join_us__apply__actions,
  .home__join_us__apply__social,
  .home__join_us__apply__cta { width: 100% }
  .home__join_us__apply__social { margin: 0 auto;}
}

/*  Footer  */
/*=========================================*/

footer {
  background: $darker_brown;
  min-height: 20%;
}
