.main_nav {
  overflow: hidden;
  height: 10%;
  min-height: 5rem;
  color: white;
}

.main_nav__logo {
  float: left;
  line-height: 2rem;
  margin: 2rem 0;
}

.main_nav__list {
  float: right;
  overflow: hidden;
  list-style: none;
  margin: 2rem 0;
}

.main_nav__item {
  float: left;
  margin-left: 20px;
  font-size: 1.1rem;
  line-height: 2rem;
  &.selected { border-bottom: 2px solid white; }
}
  .main_nav__logo a,
  .main_nav__item a {
    color: white;
    text-decoration: none;
    transition: .3s color;
  }

  .main_nav__logo a:hover,
  .main_nav__item a:hover {
    color:  $dark_blue;
  }
